* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: aliceblue;
  font-family: "Samsung Logo font", sans-serif;
  height: 100vh;
}
.counter_container {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  width: 400px;
  align-items: center;
  margin: 250px auto;
  background: #3f5efb;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );
  border-radius: 25px;
  padding: 20px 25px;
  box-shadow: 0px 0px 200px rgb(132, 102, 148);
}
.btn {
  font-size: 100px;
  background: transparent;
  border: none;
  color: rgb(194, 194, 74);
  font-style: bold;
}
.ctr_data {
  font-size: 100px;
  font-style: bold;
  color: rgb(28, 39, 41);
}
